*{
  padding: 0;
  margin: 0;
}

html {
    font-family: "Fira Code", monospace;

}

body {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://stuuxx.netlify.app/images/01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  background: rgba(0, 0, 0, 0.5);
  max-width: 550px; 
  width: 100%;
  height: 96vh;
  margin: 5px auto;
  padding: 0 20px;
  margin-top: 2vh;
  border-radius: 10px;
}

img {
  width: 40px;
  height: 40px;

}

.before {
  height: 10px;
}

.link {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.pro img {
  width: 150px;
  height: 130px;
  border-radius: 10px;
  margin-left:20px ;
  margin-bottom: 10px;
  margin-top: 12px;
}

.pro {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.dec {
  color: blue;
}

.spech_char {
  color: gray;

}

.varData {
 color: green;

}

.pro p {
  font-weight: bold;
}

.code {
  position: absolute;
  top: 20px; /* من الفوق */
  left: 190px; /* من اليسار */
  color: white; /* اللون ديال الكتابة */
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.box {
  background: rgba(0, 0, 0, 0.5);
  padding: 7px;
  color: white;
}

.box h2 {
  background: rgba(0, 0, 0, 1.0);
}

.long-code {
  margin-top: 10px;
  display: flex;
  align-items: center; /* وسط عمودي */
  gap: 10px; /* المسافة بين الصور والنص */
  flex-wrap: wrap; /* يخلي الصور يطيحو لسطر جديد إذا تزاحمو */
  background: rgba(0, 0, 0, 0.3);
}

.long-code p {
  font-weight: bold;
  margin: 0; /* نشيل المسافات الافتراضية */
  background: rgba(0, 0, 0, 1.0);
}

.long-code img {
  width: 40px; /* ولا الحجم لي بغيتيه */
  height: auto;
}
